@font-face {
	font-family:'Gotham-Black';
	src: url('../fonts/Gotham-Black_gdi.eot');
	src: url('../fonts/Gotham-Black_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Black_gdi.woff') format('woff'),
		url('../fonts/Gotham-Black_gdi.ttf') format('truetype'),
		url('../fonts/Gotham-Black_gdi.otf') format('opentype'),
		url('../fonts/Gotham-Black_gdi.svg#Gotham-Black') format('svg');
	font-weight: 450;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

@font-face {
	font-family:'Gotham-Bold';
	src: url('../fonts/Gotham-Bold_gdi.eot');
	src: url('../fonts/Gotham-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Bold_gdi.woff') format('woff'),
		url('../fonts/Gotham-Bold_gdi.ttf') format('truetype'),
		url('../fonts/Gotham-Bold_gdi.otf') format('opentype'),
		url('../fonts/Gotham-Bold_gdi.svg#Gotham-Bold') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

@font-face {
	font-family:'Gotham-Book';
	src: url('../fonts/Gotham-Book_gdi.eot');
	src: url('../fonts/Gotham-Book_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Book_gdi.woff') format('woff'),
		url('../fonts/Gotham-Book_gdi.ttf') format('truetype'),
		url('../fonts/Gotham-Book_gdi.otf') format('opentype'),
		url('../fonts/Gotham-Book_gdi.svg#Gotham-Book') format('svg');
	font-weight: 325;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

@font-face {
	font-family:'Gotham-Light';
	src: url('../fonts/Gotham-Light_gdi.eot');
	src: url('../fonts/Gotham-Light_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Light_gdi.woff') format('woff'),
		url('../fonts/Gotham-Light_gdi.ttf') format('truetype'),
		url('../fonts/Gotham-Light_gdi.otf') format('opentype'),
		url('../fonts/Gotham-Light_gdi.svg#Gotham-Light') format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

@font-face {
	font-family:'Gotham-Medium';
	src: url('../fonts/Gotham-Medium_gdi.eot');
	src: url('../fonts/Gotham-Medium_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Medium_gdi.woff') format('woff'),
		url('../fonts/Gotham-Medium_gdi.ttf') format('truetype'),
		url('../fonts/Gotham-Medium_gdi.otf') format('opentype'),
		url('../fonts/Gotham-Medium_gdi.svg#Gotham-Medium') format('svg');
	font-weight: 350;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

@font-face {
	font-family:'Gotham-Thin';
	src: url('../fonts/Gotham-Thin_gdi.eot');
	src: url('../fonts/Gotham-Thin_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Thin_gdi.woff') format('woff'),
		url('../fonts/Gotham-Thin_gdi.ttf') format('truetype'),
		url('../fonts/Gotham-Thin_gdi.otf') format('opentype'),
		url('../fonts/Gotham-Thin_gdi.svg#Gotham-Thin') format('svg');
	font-weight: 250;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}

@font-face {
	font-family:'Gotham-Ultra';
	src: url('../fonts/Gotham-Ultra_gdi.eot');
	src: url('../fonts/Gotham-Ultra_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Gotham-Ultra_gdi.woff') format('woff'),
		url('../fonts/Gotham-Ultra_gdi.ttf') format('truetype'),
		url('../fonts/Gotham-Ultra_gdi.otf') format('opentype'),
		url('../fonts/Gotham-Ultra_gdi.svg#Gotham-Ultra') format('svg');
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2212;
}


